fastapi[standard]
uvicorn
streamlit
langchain
langchain-openai
langchain-community
openai
python-dotenv
pydantic
tenacity
langsmith[openai-agetns]
langchain-chroma
anthropic
langchain-anthropic
langchain-pinecone
pinecone
huggingface_hub
langchain_huggingface
transformers
sentence-transformers
rank_bm25
pypdf
presidio_anonymizer 
presidio_analyzer